{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block navbar %}
    {% endblock %}
    {% block content %}

    {% if validlink %}

    <form method="post">
        {% csrf_token %}
        <div class="grid-container">
            <div class="row grid-x grid-padding-x">
                <div class="small-3"></div>
                <div class="small-6">
                    <fieldset class="fieldset">
                        <legend id="legend">New pass</legend>
                        <div class="row grid-x grid-padding-x">
                            <div class="medium-3"></div>
                            <div class="medium-6 cell medium-centered columns">
                                
                                <label class="subheader text-center"><em>Al menos 8 caracteres, no solo numeros</em></label>

                                {{ form.new_password1.errors }}
                                <label for="id_new_password1">Nueva
                                    contraseña:</label>
                                {{ form.new_password1 }}

                                {{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirme contraseña:

                                </label>{{ form.new_password2 }}
                                <div class="medium-12 cell medium-centered text-center columns">
                                    <input class="button input-group-field" type="submit"
                                        value="Cambiar mi contraseña" />
                                </div>
                            </div>
                            <div class="medium-3"></div>
                        </div>
                        <br />
                    </fieldset>
                </div>
                <div class="small-3"></div>
            </div>
        </div>
    </form>

    {% else %}

    <h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

    {% endif %}

    {% endblock %}
</body>

</html>