{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block navbar%}
    {% endblock%}
    {% block content %}
    <br><br><br>
    <div class="grid-container">
        <div class="callout">
            <div class="text-center">
                <h5 class="text-center">Te hemos enviado un correo con un enlace para reestablecer tu contraseña</h5>
                <a class="button" href="{% url 'index' %}">Volver</a>
            </div>
        </div>
    </div>

    {% endblock %}
</body>

</html>