{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	{% block navbar %}
	{% endblock %}

	{% block content %}

	<div class="grid-container">
		<div class="row grid-x grid-padding-x">
			<div class="small-2"></div>
			<div class="small-8">
				<fieldset class="fieldset">
					<legend>Nombre de la pagina</legend>
					<h1 class="text-center">Su contraseña se reestableció correctamente</h1>
					<div class="medium-12 cell medium-centered text-center columns">
						<a class="button" href="{% url 'login' %}">Iniciar sesión</a>
					</div>
				</fieldset>
			</div>
			<div class="small-2"></div>
		</div>
	</div>

	{% endblock %}
</body>

</html>