{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  {% block extrahead %} {% endblock %}
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="https://img.icons8.com/fluent/48/000000/pet-commands-summon.png" type="image/x-icon">
  <title>{% block title %}PetFugio{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
  {% block navbar%}

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">PetFugio</li>
        <li>
          <a href="#">Mascotas</a>
          <ul class="menu vertical">
            <li><a href="{% url 'mascota:mascota_crear' %}">Registrar</a></li>
            <li><a href="{% url 'mascota:mascota_listar' %}">Listar</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Adopciones</a>
          <ul class="menu vertical">
            <li>
              <a href="{% url 'adopcion:solicitud_crear' %}">Solicitar</a>
            </li>
            <li>
              <a href="{% url 'adopcion:solicitud_listar' %}">Listar Solicitudes</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">Opciones</a>
          <ul class="menu vertical">
            <li><a href="{% url 'logout' %}">Sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  {% endblock %}
  {% block content %}
  <h4>Bloque de contenido</h4>
  {% endblock %}

  {% block footer %}
  <br>
  <footer class="container">
    <div class="grid-x>
      <div class=" cell small-12">
      <h5 class="text-center" id="titlesite">&copy; PetFugio 2020</h5>
    </div>
    </div>
  </footer>
  {% endblock %}


  <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <script src="{% static 'js/vendor/what-input.js' %}"></script>
  <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  {% block extrajs %} {% endblock %}
</body>

</html>