{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="es">

<head>
    meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
</head>

<body>
    {% block content %}
    <div class="callout large primary">
        <div class="text-center">
            <h1 id="titlesite">PetFugio</h1>
            <h4 id="titlesite" class="subheader">Un paso previo a la felicidad</h4>
            <a class="button" href="{% url 'usuario:registrar' %}">Registrate</a>
        </div>
    </div>


    <article class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="medium-6 cell small-order-2 medium-order-1">
                <h2 id="titleblog">Nuestro refugio, tus animales</h2>
                <p id="titleblog2">Tú puedes ayudar a detener la crisis de superpoblación que conduce a refugios
                    animales extremadamente abarrotados. Solicita una solicitud a PetFugio para poner fin a los animales
                    sin
                    hogar, siempre esteriliza a tus animales de compañía y nunca compres un animal a un criador o a una
                    tienda de mascotas.</p>

                <p id="titleblog2"> Por favor, no permitas que tu animal de compañía sea sacrificado innecesariamente en
                    tiempos de
                    crisis. Toma las medidas adecuadas ahora para asegurarte de que él o ella estén bien cuidados,
                    incluso después de tu divorcio o de tu muerte.</p>
            </div>
            <div class="medium-6 cell small-order-1 medium-order-2">
                <img class="thumbnail"
                    src="https://images.unsplash.com/photo-1552642750-caada0539d76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
            </div>
        </div>
    </article>
    <br>
    <article class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="medium-6 cell small-order-1 medium-order-2">
                <h2 id="titleblog">Rescate y adopción</h2>
                <p id="titleblog2">Te invitamos a nuestras jornadas de adopción o visita la fundación para que conozcas
                    a tu alma gemela.
                    Todos nuestros peludos son entregados en óptimas condiciones de salud a adoptantes responsables que
                    se comprometan a cuidarlos por el resto de sus vidas.</p>

                <p id="titleblog2"> Queremos cada día poder ayudar a más y más peludos, es por eso que creamos los
                    Hogares Tepa. Si puedes abrirle un espacio en tu hogar de forma temporal a uno de nuestros peludos,
                    te invitamos a inscribirte.</p>
            </div>
            <div class="medium-6 cell small-order-2 medium-order-1">
                <img class="thumbnail"
                    src="https://images.unsplash.com/photo-1602256170466-1e71050cedbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=745&q=80">
            </div>
        </div>
    </article>

    {% endblock %}

</body>

</html>