{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
</head>
<body>
    
    {% block content %}
    <table class="hover unstriped">
        <thead>
          <tr>
            <th width="200">#</th>
            <th>Nombre</th>
            <th width="150">Sexo</th>
            <th width="150">Edad</th>
            <th width="150">Fecha de rescate</th>
            <th width="150">Adoptante</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if mascotas %}
            {% for mascota in mascotas %}
            <td>{{mascota.id}}</td>
            <td>{{mascota.nombre}}</td>
            <td>{{mascota.sexo}}</td>
            <td>{{mascota.edad}}</td>
            <td>{{mascota.fecha_rescate}}</td>
            <td>{{mascota.persona.nombre}} {{mascota.persona.apellidos}}</td>
          </tr>
          {% endfor %}

          {% else %}
          <h1>NO hay registros</h1>
          {% endif %}
        </tbody>
      </table>
    {% endblock %}

</body>
</html>